[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
feedgen = "*"
chalice = {git = "https://github.com/aws/chalice.git"}

[dev-packages]

[requires]
python_version = "3.6"
